<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IStudentDAO">
    <select id="get" parameterType="Long" resultMap="StudentsResult">
        SELECT * FROM students WHERE Student_Id=#{id}
    </select>
    <resultMap id="StudentsResult" type="Students" autoMapping="false">
        <id property="id" column="Student_id"/>
        <result   property="studentName" column="Student_name"/>
        <result property="studentLastname" column="Student_surname"/>
        <result property="studentEmail" column="Student_email"/>
        <result property="age" column="age"/>
    </resultMap>
    <select id="getAll" resultMap="StudentsResult">
        SELECT * FROM students
    </select>
    <insert id = "insert" parameterType = "Students"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO students (Student_name,Student_surname,Student_email,age) VALUES (#{studentName}, #{studentLastname}, #{studentEmail}, #{age});
    </insert>
    <update id = "update" parameterType = "Students">
        UPDATE Students
        SET
        Student_name = #{studentName},
        Student_surname = #{studentLastname},
        Student_email = #{studentEmail},
        age = #{age}
        WHERE Student_id =#{id}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE FROM students WHERE Student_Id= #{id}
    </delete>

</mapper>